*{
  padding: 0;
  margin: 0;
}

.page{
  background-color: hotpink;
  height: 100vh;
  padding-top:.0625rem
}
.title{
  color:white;
  text-align: center;
  font-size: 2.25rem;
  margin-top:7%
}
.board{
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 18.75rem;
}
.square{
  border: solid white;
  min-width:6.25rem;
  min-height:6.25rem;
  display: flex;
  justify-content:center;
  align-items:center;
  font-size:3.125rem;
  cursor:pointer;
}
.playerX{
  color: red
}
playerO{
  color: blue
}
.controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:1rem ;
}
.hide{
  display: none;
}